.wrapper{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--primary-color);
  width: 100%;
  padding-bottom:1rem;
  margin-bottom: 1rem;
}
.title{
    color: var(--white-color);
    font-weight: 600;
    font-size: 1.3rem;
    margin: 0.7rem 1.5rem;
    margin-top: 0;
    text-align: left;
}
.panel{
    padding-top: 1rem !important;
    padding-bottom: 0rem !important;
    padding-left: 0 !important;;
    padding-right: 0 !important;;
}
.tabList{
    font-family: inherit;
}