.searchDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  background-color: var(--white-color);
  border: 2px solid var(--black-color);
  border-radius: 10px;
  padding-left: 1rem;
  position:relative;
}
.searchInp{
  border: none;
  border-right: 2px solid var(--black-color);
  height: 100%;
  font: inherit;
  font-weight: 600;
  width: 100%;
  font-size: 0.9rem;
  outline: none;
}
.searchBtn{
  border: none;
  background-color: var(--white-color);
  cursor: pointer;
}
.searchIcon{
  padding: 0 1rem;
}
.menu{
  position: absolute;
  top: 53px;
  min-width: 50vw;
  border: 2px solid var(--primary-color);
  border-radius: 0 0 5px 5px;
  background-color: var(--black-color);
  padding: 0 1rem ;
  max-height: 41vh;
  overflow-y: scroll;
}